/*
ПОДКЛЮЧЕНИЕ ШРИФТОВ
 */

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"),
  url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto Medium"),
  url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto Bold"),
  url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
}

/*
ЦВЕТ
 */

:root {
  --basic-color: #283136;
  --address-color: #666666;
  --accent-color: #000000;
  --accent-opacity-color: rgba(0, 0, 0, 0.3);
  --friends-color: #444444;
  --button-color: #FFFFFF;
  --button-opacity-color: rgba(255, 255, 255, 0.3);
  --error-color: #E74246;
  --catalog-hover-color: #FB565A;

  --header-bg-color: #EEEEEE;
  --button-bg-color: #FB565A;
  --button-hover-bg-color: #E74246;
  --button-active-bg-color: #D7373B;
  --button-bg-green: #00CA74;
  --button-hover-bg-green: #00BC6C;
  --button-active-bg-green: #00AA62;
  --button-bg-yellow: #EFC84A;
  --button-hover-bg-yellow: #EAB534;
  --button-active-bg-yellow: #E5A722;
  --white-bg: #FFF;

  --social-bg: #E1E1E1;
  --sociai-hover-bg: #E74246;
  --sociai-active-bg: #D7373B;

  --pagination-bg: #EEEEEE;
  --pagination-hover-bg: #DFDFDF;
  --pagination-active-bg: #D5D5D5;

  --catalog-top-line-bg: #4D4D4D;
  --catalog-top-line-opacity-bg: rgba(77,77,77,0.12);
}

/*
ОБЩИЕ ПРАВИЛА
 */

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.center {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

/*
КНОПКА
 */

.btn {
  background-color: var(--button-bg-color);
  color: var(--button-color);
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  padding: 17px 0 15px;
  width: 160px;
}
.btn:hover {
  background-color: var(--button-hover-bg-color);
}
.btn:active {
  background-color: var(--button-active-bg-color);
  color: var(--button-opacity-color);
}
.btn:focus {
  outline: none;
}

.btn-green {
  background-color: var(--button-bg-green);
}
.btn-green:hover {
  background-color: var(--button-hover-bg-green);
}
.btn-green:active {
  background-color: var(--button-active-bg-green);
}

.btn-yellow {
  background-color: var(--button-bg-yellow)
}
.btn-yellow:hover {
  background-color: var(--button-hover-bg-yellow);
}
.btn-yellow:active {
  background-color: var(--button-active-bg-yellow);
}
.btn-grey {
  background-color: var(--pagination-bg);
  color: var(--accent-color);
}
.btn-grey:hover {
  background-color: var(--pagination-hover-bg);
}
.btn-grey:active {
  background-color: var(--pagination-active-bg);
  color: var(--accent-opacity-color);
}

/*
HTML and BODY
 */

.page {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-color);
  height: 100%;
}
.page-body {
  min-height: 100%;

  display: grid;
  grid-template-rows:
    min-content
    1fr
    min-content;
}

/*
ХЕДЕР
 */

.main-header {
  background-color: var(--header-bg-color);
  height: 114px;
}
.main-header-logo[href]:hover {
  opacity: 0.7;
}
.main-header-logo[href]:active {
  opacity: 0.3;
}
.main-nav {
  display: grid;
  grid-template-columns: 160px 1fr 160px;
  height: 100%;
  align-items: flex-end;
}
.top-menu {
  display: flex;
  justify-self: center;
  list-style: none;
  padding: 0;
  margin: 0 0 9px;
}
.top-menu-item {
  margin-right: 45px;
}
.top-menu-item:last-child {
  margin-right: 0;
}
.main-nav-link {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  color: var(--accent-color);
  font-weight: 500;
}
.main-nav-link:hover {
  color: var( --catalog-hover-color);
}
.main-nav-link:active  {
  color: var(--accent-opacity-color);
}
.basket-link {
  margin: 0 0 9px;
  justify-self: flex-end;
}

/*
СЛАЙДЕР НА ГЛАВНОЙ
 */

.features {
  background-color: var(--header-bg-color);
}

.slider {
  list-style: none;
}
.slide {
  background-repeat: no-repeat;
  background-position: right 0;
  box-sizing: border-box ;
  height: 431px;
  display: none;
  padding-top: 78px;
}
.slide.active {
  display: block;
}
.slide:first-child {
  background-image: url("../img/slide1-bg.png");
}
.slide:nth-child(2) {
  background-image: url("../img/slide2-bg.png");
}
.slide:nth-child(3) {
  background-image: url("../img/slide3-bg.png");
}
.slide-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--accent-color);
  margin: 0;
}
.slide-desc {
  margin-top: 25px;
  margin-bottom: 38px;
}
.slider .btn {
  width: 240px;
}

/*
БЛОК ПОД СЛАЙДАМИ
 */

.services {
  margin-top: 80px;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  list-style: none;
  padding-bottom: 80px;
  border-bottom: 2px solid var(--header-bg-color);
}
.services-item {
  width: 300px;
}
.services-item-title {
  color: var(--accent-color);
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 25px 0 16px;
}
.services-item-img {
  display: block;
  width: 300px;
  height: 146px;
}

/*
БЛОК О КОМПАНИИ
 */

.about-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  margin-top: 39px;
  border-bottom: 2px solid var(--header-bg-color);
  padding-bottom: 49px;

}
.about-title {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-top: 34px;
  margin-bottom: 32px;
}
.about-list-title {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 23px;
}
.about-list {
  list-style: none;
  padding-left: 32px;
  margin: 0;
}
.about-item {
  padding-bottom: 24px;
}
.about-stats-title {
  color: var(--accent-color);
  font-weight: bold;
  text-transform: uppercase;
  margin: 37px 0 31px;
  text-align: center;
}
.about-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.about-stats-prop {
  font-size: 16px;
  line-height: 18px;
}
.about-stats-value {
  grid-row: 1 / 2;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--accent-color);
  margin-left: 0;
  margin-bottom: 10px;
}
.about-stats-percent {
  font-size: 26px;
  line-height: 40px;
  vertical-align: top;
  position: relative;
  top: 3px;
}

/*
ПАРТНЁРЫ
 */

.partners-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  height: 180px;
  align-items: center;
  border-bottom: 2px solid var(--header-bg-color);
}
.partners-item {
  text-align: center;
}

/*
ФУТЕР
 */

.main-footer {
  margin-top: 80px;
}
.contacts {
  display: grid;
  grid-template-columns: 1fr 1160px 1fr;
}
.map-wrapper {
  grid-area: 1 / 1 / 2 / -1;

  height: 416px;
}
.map-wrapper img {
  width: 100%;
  height: 100%;
}
.contacts-wrapper {
  grid-area: 1 / 2 / 2 / 3;
  padding: 49px 50px 47px;
  box-sizing: border-box;

  width: 319px;
  background-color: var(--white-bg);

  align-self: center;
}
.contacs-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--accent-color);
  margin-top: 0;
  margin-bottom: 23px;

}
.contacts-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--address-color);
  margin-bottom: 18px;
}
.contacts-phone {
  color: var(--address-color);
}
.contacts-wrapper .btn {
  width: 219px;
  margin-top: 37px;
}

/*
СОЦ.СЕТИ
 */

.socials-wrapper {
  display: grid;
  grid-template-columns: 400px 1fr;
  height: 217px;
}
.socials-list {
  display: flex;
  list-style: none;
  width: 260px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
}
.socials-link {
  font-size: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.socials-item {
  background-color: var(--social-bg);
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.socials-vk {
  background-image: url("../img/vk-icon.svg");
}
.socials-insta {
  background-image: url("../img/insta-icon.svg");
}
.socials-fb {
  background-image: url("../img/fb-icon.svg");
}
.socials-promo-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--accent-color);
  margin-top: 75px;
  margin-bottom: 10px;
}
.socials-promo-desc {
  font-size: 16px;
  line-height: 22px;
  color: var(--friends-color);
  margin: 0;
}
.socials-item:hover {
  background-color: var( --sociai-hover-bg);
}
.socials-item:active {
  background-color: var(--sociai-active-bg);
}

/*
СТРАНИЦА КАТАЛОГА
*/

.page-title-wrapper {
  background-color: var(--header-bg-color);
}
.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--accent-color);
  text-align: center;
}

/*
ОСНОВНАЯ СЕТКА СТРАНИЦЫ КАТАЛОГА
 */
.catalog-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
}

/*
ФИЛЬТР
 */
.filter-group {
  border: none;
}
.filter-options-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--accent-color);
}
.filter-price {
  line-height: 22px;
  text-transform: uppercase;
  color: var(--basic-color);
}
.filter-range-wrapper {
  background-color: var(--header-bg-color);
  width: 260px;
  height: 80px;
  margin-bottom: 14px;
}
.filter-input {
  background-color: var(--header-bg-color);
  width: 80px;
  height: 38px;
  border: none;
}
.filter-options {
  line-height: 19px;
  color: var(--basic-color);
  list-style: none;
}

.catalog {
  grid-column: 2 / 4;
}
/*
БЛОК СОРТИРОВКИ НАД КАРТОЧКАМИ
 */

.sorting-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--accent-color);
}
.sorting-link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--accent-color);
  opacity: 0.3;
}
.sorting-link:hover {
  opacity: 0.6;
}
.sorting-link.active,
.sorting-link:active {
  opacity: 1;
}

/*
КАРТОЧКИ ТОВАРОВ
 */
.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 30px;

  margin: 0;
  padding: 0;
  list-style: none;
}
.product-card {
  background-color: var(--catalog-top-line-opacity-bg);
}
.product-card:hover {
  background-color: var(--catalog-top-line-bg);
}
.product-info {
  background-color: var(--header-bg-color);
  display: none;
}
.product-link {
  color: var(--accent-color);
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.product-link:hover {
  color: var(--catalog-hover-color);
}
.product-link:active {
  color: var(--accent-opacity-color);
}
.product-desc {
  color: var(--address-color);
}

/*
ПОСТРАНИЧНАЯ НАВИГАЦИЯ
 */

.pagination-link {
  background-color: var(--header-bg-color);
  color: var(--accent-color);
  font-weight: 500;
  line-height: 18px;
}
.pagination-link:hover {
  background-color: var(--pagination-hover-bg);
}
.pagination-link:active {
  background-color: var(--pagination-active-bg);
  color: var(--accent-opacity-color);
}
.pagination-link.active {
  background-color: var(--button-color);
}
